
.icon {
    width: 90px;
    aspect-ratio: 1;
    fill: rgba(255, 255, 255, 0.05);
}

.textBlock {
    transform: translateY(-17%);
}

.dineroText {
    font-size: 40px;
}

.paymentsText {
    font-size: 26px;
    margin-top: 4px;
}

@media (max-width: 1199px) {
    .icon {
        width: 70px;
    }

    .dineroText {
        font-size: 36px;
    }

    .paymentsText {
        font-size: 22px;
    }
}

@media (max-width: 991px) {
    .icon {
        width: 65px;
    }

    .dineroText {
        font-size: 32px;
    }

    .paymentsText {
        font-size: 20px;
    }
}