
.wrapper {
    --dollar-icon-size: 90px;
}

.icon {
    width: var(--dollar-icon-size);
    aspect-ratio: 1;
    fill: rgba(255, 255, 255, 0.05);
}

.textBlock {
    transform: translateY(-17%);
}

.dineroText {
    font-size: 40px;
}

.paymentsText {
    font-size: 26px;
    margin-top: 4px;
}

.gradientBg {
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, #ffce00, #ff7a00, #ffce00);
    background-size: 300% 300%;
    animation: shimmer 4s linear infinite;
    z-index: 0;
}

@keyframes shimmer {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 1199px) {
    .wrapper {
        --dollar-icon-size: 70px;
    }

    .dineroText {
        font-size: 36px;
    }

    .paymentsText {
        font-size: 22px;
    }
}

@media (max-width: 991px) {
    .wrapper {
        --dollar-icon-size: 65px;
    }

    .dineroText {
        font-size: 32px;
    }

    .paymentsText {
        font-size: 20px;
    }
}